.example-container {
    margin: 25px 25px;
    padding: 25px; 
}

mat-card-content {
    display: grid;
}

h1 {
    margin: 25px 0;
}

.wrapper {
    border: none;
    width: calc(100vw - 210px);
    height: calc(100vh - 80px);
    text-align: center; 
}

