mat-card {
    padding: 20px;
}

mat-card-header {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;

}

mat-card-content {
    display: grid;
}

button {
    margin-top: 5px;
}