
   
<div class="list-container">
    <h1 style="margin-top: 32px;">Projects</h1>

    <div class="spinner-wrapper" *ngIf="!this.characterList$">
      <mat-spinner></mat-spinner>
    </div>
    
    <mat-grid-list cols="4" rowHeight="350px" gutterSize="10px" >
      <mat-grid-tile class="tile" *ngFor="let item of characterList$ | async">
        <mat-card class="example-card" matRipple>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.class }}</mat-card-subtitle>
              <mat-card-subtitle>Level: {{ item.level }}</mat-card-subtitle>
              <img mat-card-lg-image src="{{ item.image }}" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="stats-wrapper">
              <p>
                <span>
                  EP:
                </span>
                {{ item.ep }}
              </p>
              <p>
                <span>
                  FP:
                </span>
                {{ item.fp }}
              </p>
              <p>
                <span>
                  KE:
                </span>
                {{ item.ke }}
              </p>
              <p>
                <span>
                  TE:
                </span>
                {{ item.te }}
              </p>
              <p>
                <span>
                  VE:
                </span>
                {{ item.ve }}
              </p>
              <p>
                <span>
                  SFE:
                </span>
                {{ item.sfe }}
              </p>
              <p>
                <span>
                  SPB:
                </span>
                {{ item.spb }}
              </p>
              <p>
                <span>
                  SPj:
                </span>
                {{ item.spj }}
              </p>
            </div>
            <mat-card-actions align="end">
              <button mat-raised-button style="margin: 5px;">
                <mat-icon aria-hidden="false" fontIcon="edit" style="color: RGB(240, 173, 78);"></mat-icon>
                Edit
              </button>
              <button mat-raised-button style="margin: 5px;" (click)="deleteCard(item.id)">
                <mat-icon aria-hidden="false" fontIcon="delete" style="color:red;"></mat-icon>
                Delete
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
    <!-- <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.class }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ item.image }}" alt="Photo of a Shiba Inu">
      <mat-card-content class="card-content">
          <p>
              <span class="span">
                  Level: 
              </span>   
              {{ item.level }}
          </p>          
        <p>EP: {{ item.ep }}</p>
        <p>FP: {{ item.fp }}</p>
        <p>KE: {{ item.ke }}</p>
        <p>TE: {{ item.te }}</p>
        <p>VE: {{ item.ve }}</p>
        <p>SFE: {{ item.sfe }}</p>
        <p>SPB: {{ item.spb }}</p>
        <p>SPJ: {{ item.spj }}</p>       
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Delete</button>
        <button mat-button>Update</button>
      </mat-card-actions>
    </mat-card> -->


    <!-- <div class="card-wrapper">
        <mat-card class="example-card" *ngFor="let item of characterList$ | async">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.class }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ item.image }}" alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <p>
                    <span class="span">
                        Level: 
                    </span>   
                    {{ item.level }}
                </p>          
              <p>EP: {{ item.ep }}</p>
              <p>FP: {{ item.fp }}</p>
              <p>KE: {{ item.ke }}</p>
              <p>TE: {{ item.te }}</p>
              <p>VE: {{ item.ve }}</p>
              <p>SFE: {{ item.sfe }}</p>
              <p>SPB: {{ item.spb }}</p>
              <p>SPJ: {{ item.spj }}</p>       
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Delete</button>
              <button mat-button>Update</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div> -->
