<div class="wrapper">
    <h1>Create Character</h1>
    <mat-card class="example-container">
      <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()" >
        <mat-card-content>
            <mat-form-field appearance="fill">
              <mat-label>Character's name:</mat-label>
                <input matInput placeholder="Enter a name" formControlName="name" required>
              <mat-error *ngIf="name">{{ errorMessage }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Character's class:</mat-label>
                <input matInput placeholder="Enter a class" formControlName="class" required>
              <mat-error *ngIf="class">{{errorMessage}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="numeric-field-item">
              <mat-label>Character's level:</mat-label>
                <input matInput placeholder="Enter a level" formControlName="level" required type="number">
                <mat-error *ngIf="level">{{errorMessage}}</mat-error>
            </mat-form-field>
            <div class="numeric-field-wrapper">
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>KE:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="ke" required type="number">
                  <mat-error *ngIf="ke">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>TE:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="te" required type="number">
                  <mat-error *ngIf="te">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>VE:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="ve" required type="number">
                  <mat-error *ngIf="ve">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>FP:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="fp" required type="number">
                  <mat-error *ngIf="fp">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>EP:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="ep" required type="number">
                  <mat-error *ngIf="ep">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>SFE:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="sfe" required type="number">
                  <mat-error *ngIf="sfe">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>SPJ:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="spj" required type="number">
                  <mat-error *ngIf="spj">{{errorMessage}}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="numeric-field-item">
                <mat-label>SPB:</mat-label>
                  <input matInput placeholder="Enter a level" formControlName="spb" required type="number">
                  <mat-error *ngIf="spb">{{errorMessage}}</mat-error>
              </mat-form-field>
            </div>
            <button mat-fab extended color="primary" type="submit" [disabled]="exampleForm.invalid">
              <mat-icon>done</mat-icon>
              Create Character
            </button>
          </mat-card-content>
        </form>
    </mat-card>
</div>
