<div class="spinner-wrapper" *ngIf="!project">
    <mat-spinner style="Height: 30px;"></mat-spinner>
  </div>

<div class="card-wrapper" *ngIf="project">
    <mat-card class="card">
        <img mat-card-image src="{{ project.imageUrl }}" >
        <mat-card-header>
            <mat-card-title style="font-size: 30px; margin: 5px 0; text-align: center;">{{ project.title }}</mat-card-title>
            <mat-card-subtitle style="font-size: 20px; margin: 5px 0; text-align: center;">{{ project.description }}</mat-card-subtitle>   
        </mat-card-header>
        <mat-card-content style="margin-top: 10px;">
            <p>{{ project.detail }}</p>
        </mat-card-content>
        <div class="action-wrapper"> 
            <mat-card-actions align="start" style="width: 50%;">
                <div class="icon-wrapper">
                    <img class="icon" *ngFor="let icon of project.icons" src="{{ icon }}" alt="">
                </div>
            </mat-card-actions>
            <mat-card-actions align="end" style="width: 50%;">
                <a mat-raised-button 
                   *ngIf="project.liveUrl != null"
                   color="primary" 
                   style="margin: 0 5px;" 
                   href="{{ project.liveUrl }}" 
                   target="_blank">
                   See Project
                </a>
                <a mat-raised-button
                   *ngIf="project.gitHubUrl != null" 
                   color="primary" 
                   style="margin: 0 5px;" 
                   href="{{ project.gitHubUrl}}" 
                   target="_blank">
                   See Code
                </a>
            </mat-card-actions>    
        </div>
    </mat-card>
</div>


