<div class="card-wrapper">
    <div class="spinner-wrapper" *ngIf="!project">
        <mat-spinner style="height: 30px"></mat-spinner>
      </div>

    <mat-card class="card">
        <img mat-card-image src="{{ project.imageUrl }}" >
        <mat-card-header>
            <mat-card-title style="font-size: 30px; margin: 5px 0; text-align: center;">{{ project.title }}</mat-card-title>
            <mat-card-subtitle style="font-size: 20px; margin: 5px 0; text-align: center;">{{ project.description }}</mat-card-subtitle>   
        </mat-card-header>
        <mat-card-content style="margin-top: 10px;">
            <p>{{ project.detail }}</p>
            <div class="icon-wrapper">
                <img class="icon" *ngFor="let icon of project.icons" src="{{ icon }}" alt="">
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" style="margin: 0 5px;">See Project</button>
            <button mat-raised-button color="primary" style="margin: 0 5px;">See Code</button>
        </mat-card-actions>    

    </mat-card>
</div>


